<div class="container">
  <p-table [value]="teamMembers" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>LinkedIn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td>{{ member.name }}</td>
        <td>
          <a href="{{ member.linkedin }}" target="_blank">
            <i class="pi pi-linkedin pr-1"></i> {{ member.linkedin }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
</div>