<div class="container p-fluid">
    <div>
        <div class="p-field">
          <label for="searchId">ID da Predição:</label>
          <input id="searchId" type="number" pInputText [(ngModel)]="searchId" placeholder="Digite o ID da predição" />
        </div>
        <button pButton type="button" label="Pesquisar" icon="pi pi-search" (click)="onSearch()" [disabled]="searchId === null || searchId < 1"></button>
    </div>
      
    <div *ngIf="loading" class="p-mt-3">
        <p-progressSpinner ariaLabel="Carregando"></p-progressSpinner>
    </div>
    
    <div *ngIf="prediction && !loading" class="p-mt-3">
        <h2>Resultado da Predição</h2>
        <app-panel [prediction]="prediction"/>
    </div>
    
    <div *ngIf="error && !loading" class="p-mt-3">
        <p-message severity="error" text="{{ error }}"></p-message>
    </div>    
</div>