<div class="container">
    <div class="p-fluid">
        <div *ngIf="predictions !== undefined; else loading">
            <div *ngFor="let prediction of predictions.results">
                <app-panel [prediction]="prediction"></app-panel>
            </div>
            <p-paginator 
                [rows]="limit" 
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[5, 10]"
                (onPageChange)="paginate($event)">
            </p-paginator>
        </div>
        
        <ng-template #loading>
            <p-progressSpinner ariaLabel="loading" />
        </ng-template>
    </div>
</div>