.p-fluid {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.p-field {
margin-bottom: 1rem;
}

.p-mt-3 {
margin-top: 1rem;
}

.p-mb-2 {
margin-bottom: 1rem;
}

.predict-container{
    height: 100%;
}